main{
    margin-top: 102px;
    display: grid;
    grid-template-columns: 50% 50%;
}
a{
    color: inherit;
}
.team{
    width: 100%;
}
.teamlogo{
    width: 100%;
    margin: 20px 0;
    height: 20%;
}
.teamlogo img{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drivers{
    display: grid;
    grid-template-columns: 44% 44%;
    grid-column-gap: 6%;
    padding-left: 6%;
}
.driver{
    margin-bottom: 20px;
    border-radius: 5px;
}
.photo img{
    display: block;
    margin: 10px auto;
    width: 60%;
}
.name{
    font-family: verdana;
    text-align: center;
    padding: 20px 0 ;
}


.driversDescription{
    width: 88%;
    margin: 50px 5%;
}
.driverDescriptionl{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 60% 34%;
    grid-column-gap: 1%;
    min-height: 300px;

}
.driverDescriptionr{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 30% 58%;
    grid-column-gap: 4%;
    min-height: 300px;

}
.about h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 3px;
}
.about p{
    font-size: 18px;
    text-align: justify;
    padding: 6px 3px;
}
.image{
    display: block;
    margin: auto 0 auto auto;
}

.driverDescriptionr .image{
    display: block;
    margin: auto 0;
}

.image img{
    border: 1px solid black;
    height: 100%;
    max-height: 300px;
    box-shadow: 0.5px 1px #373B44;
}

#mercedes{
    background-color: #373B44;
    color: white;
}
#redbull{
    background-color: #44556ee8;
    color: #E40202;
}
#mclaren{
    background-color: #ec8200e8;
}
#ferrari{
    background-color: #f9120ae8;
}
#renault{
    background-color: #fede0bef;
}
#alphatauri{
    background-color: #f1f3f4ef;
}
#racingpoint{
    background-color: #EB5FB2;
}
#alfaromeo{
    color: white;
    background-color: #8A0003;
}
#haas{
    color:white;
    background-color: #060509d8;
}
#williams{
    background-color: #0194E1;
}

@media (max-width: 975px){
    main{
        margin-top: 502px;
        grid-template-columns: 100%;
    }
    .driversDescription{
        width: 90%;
        margin: 50px 5%;
    }
    .driverDescriptionl{
        grid-template-columns: 65% 35%;
    }
    .driverDescriptionr{
        grid-template-columns: 35% 65%;
    }
}

@media (max-width: 650px){
    .driverDescriptionl{
        grid-template-columns: 100%;
    }
    .driverDescriptionr{
        grid-template-columns: 100%;
    }
    .driverDescriptionr .image{
        display: none;
    }
    .driverDescriptionl .image{
        display: none;
    }
}

@media (max-width: 500px){
    .name h1{
        font-size: 20px;
    }
}