main{
    margin-top: 102px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.team{
    width: 100%;
}
.teamlogo{
    width: 100%;
    margin: 20px 0;
    height: 20%;
}
.teamlogo img{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.drivers{
    display: grid;
    grid-template-columns: 44% 44%;
    grid-column-gap: 6%;
    padding-left: 6%;
}
.driver{
    margin-bottom: 20px;
    border-radius: 5px;
}
.photo img{
    display: block;
    margin: 10px auto;
    width: 60%;
}
.name{
    font-family: verdana;
    text-align: center;
    padding: 20px 0 ;
}
#mercedes{
    background-color: #373B44;
    color: white;
}
#redbull{
    background-color: #44556ee8;
    color: rgb(228, 2, 2);
}
#mclaren{
    background-color: #ec8200e8;
}
#ferrari{
    background-color: #f9120ae8;
}
#renault{
    background-color: #fede0bef;
}
#alphatauri{
    background-color: #f1f3f4ef;
}
#racingpoint{
    background-color: #EB5FB2;
}
#alfaromeo{
    color: white;
    background-color: #8A0003;
}
#haas{
    color:white;
    background-color: #060509d8;
}
#williams{
    background-color: #0194E1;
}

@media (max-width: 975px){
    main{
        margin-top: 502px;
        grid-template-columns: 100%;
    }
}