main{
    margin-top: 200px;
}
#container{
    width: 80%;
    margin: 100px 10%;
    display: grid;
    grid-template-columns: 60% 40%;
}
#tabel{
    width: 100%;
}
#tabel h1{
    font-size: 200%;
    padding-bottom: 40px;
}
#tabel table{
    width: 70%;
}
#headoftable{
    font-size: 20px;
    font-weight: bold;
}
#tabel table tr,td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    font-size: 20px;
}
tr:nth-child(even){
    background-color: #dddddd;
}

#photo{
    height: 650px;
    width: 377px;
    border: 2px solid black;
    margin-top: auto;
    margin-bottom: auto;
}
#photo img{
    margin: 10px auto;
    height: 600px;
    display: block;
}
#photo h1{
    text-align: center;
    font-size: larger;
}

hr{
    margin: 50px 25%;
    width: 50%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media (max-width: 975px){
    main{
        margin-top: 540px;
    }
    #container{
        grid-template-columns: 100%;
        margin-left: 15%;
        width: 100%;
    }
    #tabel{
        margin-bottom: 50px;
    }
    
}
