#container{
    display: flex;
    margin: 10%;
}

#photo{
    margin-top: 5%;
    margin-left: 10%;
    height: 650px;
    border: 2px solid black;
}
#photo img{
    margin: 10px;
    height: 600px;
}
#photo h1{
    text-align: center;
    font-size: larger;
}


#tabel{
    width: 60%;
    margin:10px;
}
#tabel h1{
    margin: 5% 0px;
    font-size: 200%;
}
#tabel table{
    width: 70%;
}
#headoftable{
    font-size: 20px;
    font-weight:bold  ;
}
#tabel table tr,td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    font-size: 20px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}


hr{
    margin-left: 25%;
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
