footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
}
footer a {
    text-decoration: none;
    color: #ffffff;
}
footer p{
    padding: 15px;
    margin-left: 30px;
    font-size: 20px;
}
